body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1289px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:590px;
}
#u1298 {
  position:absolute;
  left:9px;
  top:608px;
  width:1280px;
  height:590px;
}
#u1299 {
  position:absolute;
  left:2px;
  top:287px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1264px;
  height:506px;
}
#u1300 {
  position:absolute;
  left:9px;
  top:45px;
  width:1264px;
  height:506px;
}
#u1301 {
  position:absolute;
  left:2px;
  top:245px;
  width:1260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1302 {
  position:absolute;
  left:9px;
  top:123px;
  width:40px;
  height:29px;
}
#u1303 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1304 {
  position:absolute;
  left:15px;
  top:210px;
  width:145px;
  height:29px;
}
#u1305 {
  position:absolute;
  left:2px;
  top:6px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1306 {
  position:absolute;
  left:15px;
  top:292px;
  width:145px;
  height:54px;
}
#u1307 {
  position:absolute;
  left:2px;
  top:19px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1308 {
  position:absolute;
  left:15px;
  top:365px;
  width:145px;
  height:31px;
}
#u1309 {
  position:absolute;
  left:2px;
  top:8px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1310 {
  position:absolute;
  left:15px;
  top:420px;
  width:145px;
  height:57px;
}
#u1311 {
  position:absolute;
  left:2px;
  top:20px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1312 {
  position:absolute;
  left:23px;
  top:3px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1313 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1314 {
  position:absolute;
  left:23px;
  top:561px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1315 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1316 {
  position:absolute;
  left:732px;
  top:47px;
  width:102px;
  height:29px;
}
#u1317 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1318 {
  position:absolute;
  left:17px;
  top:759px;
  width:140px;
  height:220px;
}
#u1319 {
  position:absolute;
  left:10px;
  top:10px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1320 {
  position:absolute;
  left:17px;
  top:705px;
  width:140px;
  height:25px;
}
#u1321 {
  position:absolute;
  left:10px;
  top:10px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:922px;
  height:172px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1322 {
  position:absolute;
  left:176px;
  top:828px;
  width:922px;
  height:172px;
}
#u1323 {
  position:absolute;
  left:2px;
  top:78px;
  width:918px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1324 {
  position:absolute;
  left:17px;
  top:1208px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1325 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1257px;
  height:451px;
}
#u1326 {
  position:absolute;
  left:9px;
  top:1262px;
  width:1257px;
  height:451px;
}
#u1327 {
  position:absolute;
  left:2px;
  top:218px;
  width:1253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1257px;
  height:186px;
}
#u1328 {
  position:absolute;
  left:9px;
  top:1709px;
  width:1257px;
  height:186px;
}
#u1329 {
  position:absolute;
  left:2px;
  top:85px;
  width:1253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1330 {
  position:absolute;
  left:12px;
  top:1369px;
  width:140px;
  height:220px;
}
#u1331 {
  position:absolute;
  left:10px;
  top:10px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1332 {
  position:absolute;
  left:12px;
  top:1292px;
  width:140px;
  height:51px;
}
#u1333 {
  position:absolute;
  left:10px;
  top:10px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1334 {
  position:absolute;
  left:17px;
  top:1905px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1335 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1278px;
  height:409px;
}
#u1336 {
  position:absolute;
  left:11px;
  top:1952px;
  width:1278px;
  height:409px;
}
#u1337 {
  position:absolute;
  left:2px;
  top:196px;
  width:1274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1338 {
  position:absolute;
  left:22px;
  top:2218px;
  width:135px;
  height:104px;
}
#u1339 {
  position:absolute;
  left:10px;
  top:10px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:129px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1340 {
  position:absolute;
  left:21px;
  top:2061px;
  width:136px;
  height:129px;
}
#u1341 {
  position:absolute;
  left:10px;
  top:10px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1342 {
  position:absolute;
  left:22px;
  top:2371px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1343 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:590px;
}
#u1344 {
  position:absolute;
  left:9px;
  top:2449px;
  width:1280px;
  height:590px;
}
#u1345 {
  position:absolute;
  left:2px;
  top:287px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1346 {
  position:absolute;
  left:207px;
  top:2622px;
  width:216px;
  height:35px;
}
#u1347 {
  position:absolute;
  left:2px;
  top:10px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:177px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1348 {
  position:absolute;
  left:25px;
  top:2537px;
  width:135px;
  height:177px;
}
#u1349 {
  position:absolute;
  left:10px;
  top:10px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1350 {
  position:absolute;
  left:23px;
  top:2741px;
  width:136px;
  height:52px;
}
#u1351 {
  position:absolute;
  left:10px;
  top:10px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1352 {
  position:absolute;
  left:301px;
  top:2809px;
  width:38px;
  height:22px;
}
#u1353 {
  position:absolute;
  left:2px;
  top:3px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1354 {
  position:absolute;
  left:194px;
  top:7px;
  width:145px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1355 {
  position:absolute;
  left:2px;
  top:4px;
  width:141px;
  word-wrap:break-word;
}
