body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1932px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1931px;
  height:1258px;
  background:inherit;
  background-color:rgba(232, 233, 238, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u840 {
  position:absolute;
  left:0px;
  top:110px;
  width:1931px;
  height:1258px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u841 {
  position:absolute;
  left:2px;
  top:621px;
  width:1927px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1932px;
  height:61px;
  background:inherit;
  background-color:rgba(61, 54, 112, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(61, 54, 112, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u842 {
  position:absolute;
  left:0px;
  top:0px;
  width:1932px;
  height:61px;
}
#u843 {
  position:absolute;
  left:2px;
  top:22px;
  width:1928px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u844 {
  position:absolute;
  left:61px;
  top:17px;
  width:141px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u845 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1795px;
  height:1228px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#CCCCCC;
}
#u846 {
  position:absolute;
  left:136px;
  top:110px;
  width:1795px;
  height:1228px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#CCCCCC;
}
#u847 {
  position:absolute;
  left:2px;
  top:606px;
  width:1791px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1932px;
  height:49px;
  background:inherit;
  background-color:rgba(58, 79, 137, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(58, 79, 137, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u848 {
  position:absolute;
  left:0px;
  top:61px;
  width:1932px;
  height:49px;
}
#u849 {
  position:absolute;
  left:2px;
  top:16px;
  width:1928px;
  visibility:hidden;
  word-wrap:break-word;
}
#u850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:39px;
  background:inherit;
  background-color:rgba(232, 233, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 233, 238, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u850 {
  position:absolute;
  left:8px;
  top:73px;
  width:129px;
  height:39px;
}
#u851 {
  position:absolute;
  left:2px;
  top:12px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u852 {
  position:absolute;
  left:14px;
  top:80px;
  width:101px;
  height:26px;
}
#u853 {
  position:absolute;
  left:2px;
  top:5px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1711px;
  height:1120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u854 {
  position:absolute;
  left:184px;
  top:174px;
  width:1711px;
  height:1120px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u855 {
  position:absolute;
  left:2px;
  top:552px;
  width:1707px;
  visibility:hidden;
  word-wrap:break-word;
}
#u856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u856 {
  position:absolute;
  left:1740px;
  top:17px;
  width:97px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u857 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u858 {
  position:absolute;
  left:1850px;
  top:18px;
  width:45px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u858_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u858.mouseOver {
}
#u859 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:27px;
}
#u860 {
  position:absolute;
  left:187px;
  top:85px;
  width:120px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u861 {
  position:absolute;
  left:2px;
  top:5px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u862 {
  position:absolute;
  left:209px;
  top:87px;
  width:66px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u863 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u864 {
  position:absolute;
  left:30px;
  top:129px;
  width:61px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u865 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:2px;
}
#u866 {
  position:absolute;
  left:22px;
  top:156px;
  width:98px;
  height:1px;
}
#u867 {
  position:absolute;
  left:2px;
  top:-8px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u868 {
  position:absolute;
  left:214px;
  top:186px;
  width:83px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u869 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u870 {
  position:absolute;
  left:1804px;
  top:117px;
  width:89px;
  height:25px;
}
#u870_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u871 {
  position:absolute;
  left:306px;
  top:186px;
  width:76px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u872 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u873 {
  position:absolute;
  left:392px;
  top:188px;
  width:95px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u874 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:32px;
}
#u875 {
  position:absolute;
  left:1669px;
  top:182px;
  width:179px;
  height:32px;
}
#u876 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1650px;
  height:228px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u877 {
  position:absolute;
  left:211px;
  top:271px;
  width:1650px;
  height:228px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u878 {
  position:absolute;
  left:2px;
  top:106px;
  width:1646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879 {
  position:absolute;
  left:380px;
  top:286px;
  width:217px;
  height:25px;
}
#u879_input {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u880 {
  position:absolute;
  left:550px;
  top:286px;
  width:46px;
  height:25px;
}
#u880_input {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
  background-color:#3399FF;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u881 {
  position:absolute;
  left:1075px;
  top:289px;
  width:310px;
  height:25px;
}
#u881_input {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u882 {
  position:absolute;
  left:1339px;
  top:288px;
  width:46px;
  height:25px;
}
#u882_input {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
  background-color:#3399FF;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u883 {
  position:absolute;
  left:1203px;
  top:289px;
  width:26px;
  height:23px;
}
#u883_input {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
  background-color:#3399FF;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
}
#u884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u884 {
  position:absolute;
  left:1178px;
  top:291px;
  width:21px;
  height:19px;
}
#u885 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u886 {
  position:absolute;
  left:1317px;
  top:292px;
  width:21px;
  height:19px;
}
#u887 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u888 {
  position:absolute;
  left:1324px;
  top:324px;
  width:138px;
  height:25px;
}
#u889 {
  position:absolute;
  left:2px;
  top:4px;
  width:134px;
  word-wrap:break-word;
}
#u890 {
  position:absolute;
  left:889px;
  top:323px;
  width:46px;
  height:25px;
}
#u890_input {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
  background-color:#3399FF;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u891 {
  position:absolute;
  left:691px;
  top:323px;
  width:198px;
  height:25px;
}
#u891_input {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
}
#u891_input:disabled {
  color:grayText;
}
#u892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u892 {
  position:absolute;
  left:1402px;
  top:289px;
  width:60px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u893 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u894 {
  position:absolute;
  left:550px;
  top:323px;
  width:46px;
  height:25px;
}
#u894_input {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
  background-color:#3399FF;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u895 {
  position:absolute;
  left:380px;
  top:356px;
  width:217px;
  height:25px;
}
#u895_input {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u896 {
  position:absolute;
  left:550px;
  top:356px;
  width:46px;
  height:25px;
}
#u896_input {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
  background-color:#3399FF;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u897 {
  position:absolute;
  left:889px;
  top:287px;
  width:46px;
  height:25px;
}
#u897_input {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
  background-color:#3399FF;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u898 {
  position:absolute;
  left:629px;
  top:292px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u899 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u900 {
  position:absolute;
  left:629px;
  top:328px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u901 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u902 {
  position:absolute;
  left:980px;
  top:293px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u903 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1651px;
  height:44px;
}
#u904 {
  position:absolute;
  left:209px;
  top:228px;
  width:1651px;
  height:44px;
}
#u905 {
  position:absolute;
  left:2px;
  top:14px;
  width:1647px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u906 {
  position:absolute;
  left:232px;
  top:242px;
  width:109px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u907 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u908 {
  position:absolute;
  left:232px;
  top:514px;
  width:109px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u909 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u910 {
  position:absolute;
  left:210px;
  top:811px;
  width:1646px;
  height:435px;
}
#u910_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1646px;
  height:435px;
}
#u911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1651px;
  height:44px;
}
#u911 {
  position:absolute;
  left:209px;
  top:499px;
  width:1651px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u912 {
  position:absolute;
  left:2px;
  top:14px;
  width:1647px;
  visibility:hidden;
  word-wrap:break-word;
}
#u913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u913 {
  position:absolute;
  left:1690px;
  top:557px;
  width:138px;
  height:25px;
}
#u914 {
  position:absolute;
  left:2px;
  top:4px;
  width:134px;
  word-wrap:break-word;
}
#u915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1652px;
  height:44px;
}
#u915 {
  position:absolute;
  left:208px;
  top:767px;
  width:1652px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u916 {
  position:absolute;
  left:2px;
  top:14px;
  width:1648px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u917 {
  position:absolute;
  left:232px;
  top:514px;
  width:109px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u918 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
}
#u919 {
  position:absolute;
  left:351px;
  top:247px;
  width:24px;
  height:16px;
  color:#FFFFFF;
}
#u920 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u921 {
  position:absolute;
  left:351px;
  top:517px;
  width:28px;
  height:16px;
}
#u922 {
  position:absolute;
  left:2px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u923 {
  position:absolute;
  left:298px;
  top:293px;
  width:77px;
  height:16px;
  color:#FF0000;
}
#u924 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u925 {
  position:absolute;
  left:298px;
  top:330px;
  width:77px;
  height:16px;
  color:#FF0000;
}
#u926 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u927 {
  position:absolute;
  left:298px;
  top:362px;
  width:75px;
  height:16px;
  color:#FF0000;
}
#u928 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u927_ann {
  position:absolute;
  left:366px;
  top:358px;
  width:1px;
  height:1px;
}
#u929 {
  position:absolute;
  left:380px;
  top:322px;
  width:170px;
  height:25px;
}
#u929_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u929_input:disabled {
  color:grayText;
}
#u930 {
  position:absolute;
  left:690px;
  top:286px;
  width:199px;
  height:24px;
}
#u930_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u930_input:disabled {
  color:grayText;
}
#u931 {
  position:absolute;
  left:382px;
  top:574px;
  width:217px;
  height:25px;
}
#u931_input {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:25px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u932 {
  position:absolute;
  left:771px;
  top:570px;
  width:198px;
  height:25px;
}
#u932_input {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
}
#u932_input:disabled {
  color:grayText;
}
#u933 {
  position:absolute;
  left:382px;
  top:644px;
  width:217px;
  height:25px;
}
#u933_input {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u934 {
  position:absolute;
  left:382px;
  top:680px;
  width:217px;
  height:25px;
}
#u934_input {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u935 {
  position:absolute;
  left:690px;
  top:574px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u936 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u937 {
  position:absolute;
  left:265px;
  top:685px;
  width:102px;
  height:16px;
  color:#000000;
}
#u938 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u939 {
  position:absolute;
  left:266px;
  top:581px;
  width:104px;
  height:16px;
  color:#000000;
}
#u940 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u941 {
  position:absolute;
  left:266px;
  top:618px;
  width:104px;
  height:16px;
  color:#FF0000;
}
#u942 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u943 {
  position:absolute;
  left:264px;
  top:650px;
  width:103px;
  height:16px;
  color:#FF0000;
}
#u944 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u943_ann {
  position:absolute;
  left:360px;
  top:646px;
  width:1px;
  height:1px;
}
#u945 {
  position:absolute;
  left:382px;
  top:610px;
  width:214px;
  height:25px;
}
#u945_input {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u945_input:disabled {
  color:grayText;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u946 {
  position:absolute;
  left:265px;
  top:720px;
  width:108px;
  height:16px;
  color:#000000;
}
#u947 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u948 {
  position:absolute;
  left:382px;
  top:715px;
  width:217px;
  height:25px;
}
#u948_input {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u949 {
  position:absolute;
  left:242px;
  top:781px;
  width:73px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u950 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u951 {
  position:absolute;
  left:351px;
  top:784px;
  width:28px;
  height:16px;
}
#u952 {
  position:absolute;
  left:2px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953 {
  position:absolute;
  left:771px;
  top:605px;
  width:198px;
  height:25px;
}
#u953_input {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
}
#u953_input:disabled {
  color:grayText;
}
#u954 {
  position:absolute;
  left:771px;
  top:640px;
  width:198px;
  height:25px;
}
#u954_input {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
}
#u954_input:disabled {
  color:grayText;
}
#u955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1651px;
  height:228px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u955 {
  position:absolute;
  left:209px;
  top:543px;
  width:1651px;
  height:228px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u956 {
  position:absolute;
  left:2px;
  top:106px;
  width:1647px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957 {
  position:absolute;
  left:691px;
  top:358px;
  width:198px;
  height:25px;
}
#u957_input {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
}
#u957_input:disabled {
  color:grayText;
}
#u958 {
  position:absolute;
  left:691px;
  top:393px;
  width:198px;
  height:25px;
}
#u958_input {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
}
#u958_input:disabled {
  color:grayText;
}
